{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About Rango{% endblock %}

{% block side_block %}
    <div class="page-header">
        <h1>About Rango</h1>
    </div>
    <div>
        <img width="90" height="100" src="{% static 'images/rango.jpg' %}" alt="picture of rango"/><!--New Line-->
    </div>
{% endblock %}
{% block body_block %}
    <div class='container'>
        I'm clueless. <strong>{{ clueless }}</strong><br />
        Press <a href="{% url 'index' %}">Rango Home Page</a> to go to the Rango home page.<br />
        {{ aboutold }}<br/>
        There are {{ visits }} people who've visited this page.<br/>
        <img width='30%' height='40%' src = "{% static 'images/twd.jpg' %}" alt = "Picture of tango with django" />
        <br/><i>{{ answertocontext }} </i><br/>
        <strong>{{ whataboutnontext }}</strong><br/>
        {{ nontextdoesntwork }}
    </div>
{% endblock %}