<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<title>The about page for Rango app</title>
		<link rel="stylesheet" href="{% static 'css/base.css' %}" />
		<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	</head>
	<body>

		<h1>The about page says ... </h1>
		I'm clueless. <strong>{{ clueless }}</strong><br />
		Press <a href="..">Rango Home Page</a> to go to the Rango home page.<br />
		{{ aboutold }}<br/>
		<img src = "{% static 'images/twd.jpg' %}" alt = "Picture of tango with django" />
		<br/><i>{{ answertocontext }} </i><br/>
		<strong>{{ whataboutnontext }}</strong><br/>
		{{ nontextdoesntwork }}

	</body>
</html>