{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
    <style>
       body{
            background: url('{% static "images/top.jpg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }
    </style>
{% if user.is_authenticated %}
    <div class="page-header">
            <h1>Rango says...hello {{ user.username }}!</h1>
        {% else %}
            <h1>Rango says...hello world!</h1>
        {% endif %}
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Top Five Categories</h3>

            {% if categories %}
                <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item"><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">    
            <h3>Top Five Pages</h3>
            {% if pages %}
                <ul class="list-group">
                    {% for page in pages %}
                        <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>
    </div>

    <div class="footer">
        <p>You have visited this page {{ visits }} times</p>
    </div>
{% endblock %}